MYSQL_ROOT_PASSWORD=193.203.175.11
MYSQL_USER=u715603993_duolol
MYSQL_PASSWORD=Tututeamo@123
JWT_SECRET=troque_por_uma_string_longa_e_aleatoria_aqui
RIOT_API_KEY=RGAPI-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
FRONTEND_URL=http://localhost
